################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/AspNetCoreWebApp/obj
/.vs/AspNetCoreWebApp/v15/Server/sqlite3
/AspNetCoreWebApp/bin/Debug/netcoreapp2.0
